# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Database files
*.db
*.sqlite3

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Test coverage
htmlcov/
.coverage
.coverage.*

# Build
build/
dist/
*.egg-info/

# Others
*.bak
*.swp
*.swo
# PyCharm
.idea/

# MyPy type checker
.mypy_cache/
.dmypy.json

# pip cache
pip-log.txt
